div.comments-wrapper ul li {
  list-style: none;
  border: 1px solid silver;
  padding: 10px;
  margin: 0 0 4px;
}
div.comments-wrapper ul {
  margin: 0;
}
div.oht-comment-meta {
  background: #dedede;
  padding: 0 4px;
  font-size: 0.9em;
}
div.oht-comment-body {
  width: 100%;
  margin: 10px 0 0;
}
