{#
/**
 * @file
 * Default theme implementation to display comments received from OHT service.
 *
 * Available variables:
 * - comments: A list of comments.
 * - attributes: HTML attributes for the comments.
 *
 * @ingroup themeable
 */
#}
{% if comments %}
  <div class="comments-wrapper">
    <div class="item-list">
      <ul>
        {% for comment in comments %}
        <li>
          <div class="oht-comment-meta">{% trans %}At <em class="placeholder">{{ comment.date|date(format='D, m/d/Y - H:i') }}</em> by <em class="placeholder">{{ comment.commenter_name }}</em> (<em class="placeholder">{{ comment.commenter_role }}</em>):{% endtrans %}</div>
          <div class="oht-comment-body">{{ comment.comment_content }}</div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
{% if not comments %}
  <p>{% trans %}There are no comments for this item yet.{% endtrans %}</p>
{% endif %}
